body {
    background-color: #f2f2f2;
}

/* ------------ Navbar ----------- */
.my-navbar {
    background-color: #404040;
}

.logo {
    width: 230px;
    height: 64px;
}

.nav-button-mylists {
    color: #ff6600;
}

.nav-button-signout {
    color: #fff;
    margin-top: 0px;
}

/* --------Alerts---------- */
.alert-success {
    background-color: #a7ffeb;
    color: #404040;
}

.alert-danger {
    background-color: #fab3ba;
    color: #404040;
}

.alert-message {
    margin: 0;
    padding: 10px 0;
}


/* --------- Get books --------------- */

.show_card {
    height: 220px;
}

div.card-action.card-link {
    padding: 5px;
}

.btn-small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px;
    padding: 0px;
    text-transform: capitalize;
    font-size: 10px;
}

.info-btn {
    background-color: #ffab40;
}

.header-small {
    color: #ffab40;
}

/* ---------Books by genre --------------- */
.col.s12.m6 {
  margin: 0;
  padding: 0 5px;  
}


/* ---------Pagination ----------- */
/* ----from flask-paginate documentation-- */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    /* customized background-color */
    background: #ffab40;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

/* --------- My lists --------------- */
.col.s10.m11 {
    margin: 0;
}

.addlist-btn-row {
    margin: 15px 0;
}

.action-btn,
.action-btn-back,
.action-btn-mypage,
.list-action-btn {
    padding: 0 10px;
    margin: 0 5px;
    text-transform: capitalize;
}

.action-btn {
   background-color: #ffab40; 
}


.action-btn-mypage {
    background-color: #fff;
    color: #404040;
}

.action-btn-active {
    color: #fff;
}

.list-action-btn {
    background-color: #fff;
    color: grey;
}

.list-action-btn-active {
    color: #fff;
}

.faded-text {
    color: grey;
}

.lists-list-row {
    background-color: #fff; 
    height: 70px;   
    border: 1px solid #d9d9d9; 
    border-radius: 5px; 
}

.lists-list-row-active {
    background-color: #fff6e6;
}

.list-item {   
    color: #424242;
    font-size: 16px;
}

.list-item-active {
    color: #ff6600;
}

/* --------- Add list --------------- */
.action-btn-back {
    background-color: #fff;
    color: #ffab40;
}

.action-btn-back-active {
     color: #fff;
}

.action-btn-submit {
    padding: 0 10vw;
}

.addlist-form,
.addbook-form,
.search-form,
/* .register-form, */
.login-form  {
    background-color: #fff;
    height: 170px;
    border: 1px solid #d9d9d9; 
    border-radius: 5px;
    margin: 25px 0;
}

.search-form {
   border: 1px solid #ffab40;  
}

.material-icons.faded {
    color: #d9d9d9;
}

/* ---------- Add Book  ---------- */
.addbook-form {
    height: 470px; 
 }

 /* ---------- Register and Login Forms---------- */
/* .register-form {
    height: 270px; 
 } */

.login-form {
    height: 220px;
}

.signin-text {
    color: #404040;
}

.signin-link {
    color: #ff6600;
}

/* --------- Responsive ---------- */
@media screen and (max-width:768px) {
   .logo {
    width: 187px;
    height: 56px;
    }
}
