{% extends 'base.html' %}
{% block content %}

    <div class= "row header-small">
        <h5 >Books with category: <i>"{{ genre.genre_name.capitalize() }}"</i></h5>
    </div>
    
    {% if total > 1 %}         <!--Ignore pagination if you get no results-->
        {{ pagination.info }}
    {% endif %}     
    {{ pagination.links }}

    {% if total == 0 %}
    <div class="no-books-list center col s12">
        <img class = "image_1" src = "{{url_for('static', filename='images/read-image_1.jpg')}}", alt="people read">
        <h5>No books added to this category</h5>
        <h5>Search for books <a class = "link" href = "{{ url_for('my_page') }}">here</a></h5>
    </div>  
    {% endif %}
      <!---- Book Card ------->  
    {% for book in books %}
        {% if book.genre_name == genre.genre_name %}
    <div class="col s12 m6">  
        <div class="card horizontal show_card">
            <div class="card-image">
                <img class="show_card_image" src="{{ book.image_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h6><strong>{{ book.title }}</strong></h6>
                    <h6><i> by {{ book.author }}</i></h6>
                    <p>Genre:<a href="#"> {{ book.genre_name }}</a></p>
                    <p></p>
                </div>
                <div class="card-action card-link">
                    <a class= "waves-effect waves-light btn btn-small btn-lg info-btn" href="{{ book.amazon }}" target="_blank">Info/Buy</a>
                   <!-- Modal Trigger -->
                        <a id="{{book._id}}" class="waves-effect waves-light btn btn-small btn-lg modal-trigger" href="#modal_{{ book._id }}">Add To List</a>                        
                         <!-- Material Modal Structure -->                     
                        {%  if "username" in session %}
                        <div id="modal_{{ book._id }}" class="modal modal-fixed-footer">
                            <div class="modal-content">                          
                                <p>Add or Remove <strong>{{ book.title }}</strong> by <strong>{{ book.author }}</strong> to your lists</p>                               
                                <!--Material Lists checkboxes --> 
                                {% for list in user.book_list %}
                                <form action= "{{ url_for('insert_book_into_list', list_id=list.id, book_id=book._id ) }}" method = "POST">                            
                                    <div class="form-check">   
                                        <input class="form-check-input" type="checkbox" name= "list_name" value="{{ list.id }}" id="{{ list.id }}_{{ book._id }}">
                                        <label class="form-check-label" for="{{ list.id }}_{{ book._id }}">                              
                                            {{ list.id }}                           
                                        </label>                            
                                    </div>
                                    {% endfor %}
                                    <div class="row center">
                                        <button class="btn waves-effect waves-light action-btn action-btn-submit" type="submit" name="action">Add to List
                                            <i class="material-icons left">playlist_add</i>
                                        </button>
                                    </div>
                                </form>                 
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">CLOSE</a>
                            </div>
                        </div>
                        {% else %}
                        <div id="modal_{{ book._id }}" class="modal modal-fixed-footer">
                            <div class="modal-content center">                          
                                <p>To Add <strong>{{ book.title }}</strong> by <strong>{{ book.author }}</strong> to a list please Sign In or Sign Up</p>    
                                <a href= "{{ url_for('signup') }}" class="btn waves-effect waves-light action-btn action-btn-submit" type="submit">Sign Up
                                </a>
                                <a href= "{{ url_for('signin') }}" class="btn waves-effect waves-light action-btn action-btn-modal_signin" type="submit">Sign In
                                </a>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>  
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
<div class= "col s12">
    {{ pagination.links }}
</div>
{% endblock %}
