{% extends 'base.html' %}
{% block content %}

    {% if total > 1 %}         <!--Ignore pagination if you get no results-->
        {{ pagination.info }}
    {% endif %}     
    {{ pagination.links }}

<div class="row">
     <!---- Book Card ------->  
    {% for result in search_results %}
    <div class="col s12 m6">  
        <div class="card horizontal show_card">
            <div class="card-image">
                <img class="show_card_image" src="{{ result.image_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h6><strong>{{ result.title }}</strong></h6>
                    <h6><i> by {{ result.author }}</i></h6>
                    <p>Genre:<a href="#"> {{ result.genre_name }}</a></p>
                    <p></p>
                </div>
                <div class="card-action card-link">
                    <a class="waves-effect waves-light btn btn-small info-btn" href="{{ result.amazon }}" target="_blank">Info/Buy</a>
                   <!-- Modal Trigger -->
                        <a id="{{result._id}}" class="waves-effect waves-light btn btn-small modal-trigger" href="#modal_{{ result._id }}">Add To List</a>                        
                         <!-- Material Modal Structure -->                     
                        <div id="modal_{{ result._id }}" class="modal modal-fixed-footer">
                            <div class="modal-content">                          
                                <p>Add or Remove <strong>{{ result.title }}</strong> by <strong>{{ result.author }}</strong> to your lists</p>                               
                                <!--Material Lists checkboxes --> 
                                {% for list in lists %}                            
                                <div class="form-check">   
                                    <input class="form-check-input" type="checkbox" name= "" value="{{ list.list_name }}" id="{{ list.list_name }}_{{ result._id }}">
                                    <label class="form-check-label" for="{{ list.list_name }}_{{ result._id }}">                              
                                        {{ list.list_name }}                           
                                    </label>                            
                                </div>
                                {% endfor %}                 
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{{ pagination.links }}
{% endblock %}
