{% extends 'base.html' %}
{% block content %}
    <!---- Form ------->
<div class="row">
    <form action= "{{ url_for('login') }}" method="POST" class="login-form col s12">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter Email Address" id="email" name="username" type="text" class="validate valign-wrapper" required>
                <label for="username">Email</label>
            </div>
        </div>
            <!---- Submit button ------->
        <div class="row center">
            <button class="btn waves-effect waves-light action-btn action-btn-submit" type="submit">Sign In
            </button>
        </div>
        <div class= "row">
            <p class= "signin-text center">Don't have an account? <a class= "signin-link" href= "{{ url_for('signup') }}">Sign Up</a></p>
        </div>
    </form>
</div>
{% endblock %}