{% extends 'base.html' %}
{% block content %}
<!----Search Form ------->
<div class="row">
    <form action= "{{ url_for('search_results') }}" method="GET" class="search-form col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons faded prefix">search</i>
                <input placeholder="Enter Book Title or Author" id="search" name="search_word" type="text" class="validate valign-wrapper">
            </div>
        </div>
        <!---- Submit button ------->
        <div class="row center">
            <button class="btn waves-effect waves-light action-btn action-btn-submit" type="submit" name="action">Search for Books
                <i class="material-icons left">search</i>
            </button>
        </div>
    </form>
</div>
   
    <!---- Genres ------->
<div class="row">    
    <div class= "row center header-small">
        <h4>Search by Subject</h4>
    </div>
    {% for genre in genres %}
    <div class="col s12 m3">
        <div class="row center">
            <a href= "{{ url_for('books_by_genre', genre_id=genre._id) }}" class="waves-effect waves-light btn action-btn-mypage" >{{ genre.genre_name }}</a>
        </div>   
    </div>
    {% endfor %}
</div>
{% endblock %}
