{% extends 'base.html' %}
{% block body %} class= "register" {% endblock body %}
{% block content %}
    <!---- Form ------->
<div>
    <form action= "{{ url_for('register') }}" method="POST" class="login-form col s12">
        <div class="input-field col s12">
            <input placeholder="Enter Email Address" id="email" name="username" type="text" class="validate valign-wrapper" required>
            <label for="username">Email</label>
        </div>
            <!---- Submit button ------->
        <div class="center">
            <button class="btn waves-effect waves-light action-btn action-btn-submit" type="submit">Register
            </button>
        </div>
        <div class= "row">
            <p class= "signin-text center">Already have an account? <a class= "signin-link" href= "{{ url_for('signin') }}">Sign In</a></p>
        </div>
    </form>
</div>
{% endblock %}