{% extends 'base.html' %}

{% block title %} My Lists {% endblock title %}

{% block content %}
   
    <!-- Back to Lists button -->
    <div class="col s12 addlist-btn-row">
        <a href= "{{ url_for('my_lists') }}" class="waves-effect waves-light btn action-btn-back left"><i class="material-icons left">arrow_back_ios</i>Back to Lists</a>
    </div>    
    <!-- Heading -->
    {% for list in user.book_list %}
        {% if list.id == list_id %}
            <div class= "col s12">
                <h3 class= "center">{{ list.id }}</h3>
            </div>    
        {% endif %}
    {% endfor %}

    <!-- Pagination -->
    <div class= "col s12">
    {% if total > 1 %}         <!--Ignore pagination if you get no results-->
        {{ pagination.info }}
    {% endif %}     
    {{ pagination.links }}
    </div>

    {% if total == 0 %}
    <div class="no-books-list center col s12">
        <img class = "image" src = "{{url_for('static', filename='images/read-image.jpg')}}" , alt="people read">
        <h5>This list has no books in it.</h5>
        <h5>Search for books <a class = "link" href = "{{ url_for('my_page') }}">here</a></h5>
    </div>  
    {% endif %}

    <!-- Show books in a list -->
    {% for result in results %}
        <div class="col s12 m10 l6">  
            <div class="card horizontal show_card">
                <div class="card-image">
                    <img class="show_card_image" src="{{ result.image_url }}" alt="book cover image">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h6><strong>{{ result.title }}</strong></h6>
                        <h6><i> by {{ result.author }}</i></h6>
                        <p>Genre:<a href="#"> {{ result.genre_name }}</a></p>
                        <p></p>
                    </div>
                    <div class="card-action card-link">
                        <a class= "waves-effect waves-light btn btn-small btn-lg info-btn right" href="{{ result.amazon }}" target="_blank">Info/Buy</a>
                        <a class= "waves-effect waves-light btn btn-small btn-lg right" href="{{ url_for('delete_book', list_id=list_id, book_id=result._id) }}">Remove</a>                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}        
<div class= "col s12">
    {{ pagination.links }}
</div>
{% endblock %}