{% extends 'base.html' %}

{% block title %} My Lists {% endblock title %}

{% block content %}
   
    <!-- Back to Lists button -->
    <div class="col s12 addlist-btn-row">
        <a href= "{{ url_for('my_lists') }}" class="waves-effect waves-light btn action-btn-back left"><i class="material-icons left">arrow_back_ios</i>Back to Lists</a>
    </div>    
   
    {% for list in user.book_list %}
        {% if list.id == list_id %}
            <div class= "col s12">
                <h3 class= "center">{{ list.id }}</h3>
            </div>    
        {% endif %}
    {% endfor %}        
    {% for result in results %}
            <div class="col s12 m6">  
                <div class="card horizontal show_card">
                    <div class="card-image">
                        <img class="show_card_image" src="{{ result.image_url }}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h6><strong>{{ result.title }}</strong></h6>
                            <h6><i> by {{ result.author }}</i></h6>
                            <p>Genre:<a href="#"> {{ result.genre_name }}</a></p>
                            <p></p>
                        </div>
                        <div class="card-action card-link">
                            <a class= "waves-effect waves-light btn btn-small btn-lg info-btn" href="{{ result.amazon }}" target="_blank">Info/Buy</a>
                            <a class= "waves-effect waves-light btn btn-small btn-lg" href="">Remove</a>                        
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}     

{% endblock %}